{% extends "admin/change_list.html" %}

{% block content_title %}
  {{ block.super }}
  {% if summary %}
    <div style="margin-top: 10px; font-size: 16px;">
      <strong>Total Credit:</strong><span style="color: green;">  ₹{{ summary.total_credit|floatformat:2 }} </span>|
      <strong>Total Debit:</strong> <span style="color: red;"> ₹{{ summary.total_debit|floatformat:2 }} </span>
    </div>
  {% else %}
    <div style="margin-top: 10px; color: red;">Summary not available.</div>
  {% endif %}
{% endblock %}